* {
    box-sizing: border-box;
    margin: 0;
    
}


.navbar {
    width: 100%;
    height: 28pt;
    padding-top:6pt;
    background-color: rgb(255, 255, 250);
    position: fixed;
    font-family: 'tahoma';
}

.rates{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:row;
    height:22pt;
    padding-bottom:1pt;
    margin-top:27pt;
    position: fixed;
    background-color:  rgba(146, 0, 0, 0.945);
    border-bottom:1.5pt solid rgb(255, 255, 255);
   
}

.dollar{
    margin:2pt;
    width: 200pt;
    font-size:11pt;
    color:rgb(253, 253, 253);
    font-family: 'tahoma' ;
    position: relative;
    left: 0;
    top: 0;
    animation: slideshow 120s linear infinite;
}  


@keyframes slideshow {
    0%    { left: -2700%; }
    100%  { left: 0; }
  }


.news4you{
   text-align: end;
   margin-right: 5vw;
   margin-top: -2vh;
   font-size: 12pt;
   background-color: white;
   padding-bottom: 2pt;
}


a{
    text-decoration: none;
    font-size: 12.5pt;
    color: rgb(198, 0, 0);
    margin: 3vw;
    animation: fade 2.5s;
}


a:hover{
    color:rgb(255, 118, 118);
}


.navbarP{
    color:rgb(155, 0, 0);
    cursor: auto;
    font-size: 13.5pt;
    animation: fade 2.5s;
    width: 100pt;
    margin-left:4.2vw;
    text-align:center;
    padding:1pt;
    pointer-events: none;
    
}


h1{
    margin-bottom:7px;
    color:rgb(141, 0, 0);
}


img{
    width: 100%;
}


.sourceName{
    color: rgb(173, 1, 1);
    font-family: helvetica;
    height: 5vh;
    font-size:14.5pt;
    margin-top:1vh;
    margin-left: 2vw;
    background-color: rgba(255, 255, 255, 0);
}


.sourceName2{
    color: rgb(173, 1, 1);
    font-family: helvetica;
    position: fixed;
    margin-top:4vh;
    font-size: 16pt;
    margin-left: 2vw;
    background-color: rgba(255, 255, 255, 0);
}


.h1Wrapper{
    display: flex;
    flex-direction: column;
    height: auto;
    position: fixed;
}


h1{
    font-size:14pt;
    pointer-events: none;
}


.newsDiv{
      border: 0px solid rgb(189, 50, 50);
      width: 380pt;
      padding:10px;
      height: auto;
      font-size: 12px;
      margin:auto;
      margin-left:27vw;
      margin-top: 2vh;
      margin-bottom: 10vh;
      background-color: white;
      font-family: 'helvetica';
}


.newsDiv2{
    width: 25vw;
    padding: 10px;
    font-size: 8px;
    margin: 3.5vw;
    background-color: white;
    font-family: 'helvetica';
}

.savedH1{
     font-size:12pt;
     pointer-events: none;
}

.savedH2{
    font-size:11.5pt;
    pointer-events: none;
}

.loading{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20vh;
}

.loading2{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10vh;
}

.bottomWrap{
    display: flex;
    width: auto;
    height: auto;
    margin-top: 2pt;
}


    .buttonWrap{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 35vw;
        height:90vh;
        position: fixed;
        margin-left: 65vw
    }

    .sourceName3{
        color: rgba(71, 71, 71, 0.966);
        font-family: helvetica;
        font-size: 15pt;
        margin:auto;
        margin-top: 5vh;
        background-color: rgba(255, 255, 255, 0);
    }

    .newsforme{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 16pt;
        text-align: center;
        color: rgba(71, 71, 71, 0.767);
        animation: fade 3s;
        margin:auto;
        margin-bottom:2vh;
        pointer-events: none;
    }
    
    .homeWrap{
        margin:auto;
        margin-top: -77vh;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }
    
    .home{
        height:auto;
        width: auto;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        background-color: rgba(255, 255, 250);
        animation: move2 2s;
       
    }
    
    @keyframes move2{
        from{ margin-left: 90%}
        to{ margin-left: 0vw}
    }
    
    .saveAll{
        width: 75pt;
        height: 22pt;
        cursor: pointer;
        border-radius: 2px;
        background-color: rgba(0, 0, 0, 0);
        color: rgb(0, 179, 39);
        font-family: tahoma;  
        font-weight: bolder;
        animation: fade 2s;  
        margin:auto
    }
    
    .saveallH1{
        font-size: 14pt;
        color: rgba(71, 71, 71, 0.795);
        font-family: helvetica;
        pointer-events: none;
        margin:auto;
        margin-bottom: 15pt;
    }
    
    .saveallDiv{
        display:flex;
        align-items: center;
        justify-content: center;
        flex-direction:column;
        animation: fade 2s;  
        margin:auto;
        margin-top:-60vh;
    }

    .videoWrap{
        position: fixed;
        margin:auto;
        display:flex;
        align-items:center;
        justify-content: center;
        border:2px solid rgb(255, 255, 255);
        margin-top: 15vh;
        width:300pt;
        height:170pt
    }
    
    .topP{
        height: 25pt;
        width: 25pt;
        cursor:pointer;
        background-image: url('./Photos/top.png');
        background-size: cover;
        background-position: center;
        margin-right: 17vw;
    }

    .deleteAccount{
        width: 8vw;
        height: 3.7vh;
        cursor: pointer;
        border-radius: 2px;
        background-color: rgba(0, 0, 0, 0);
        color: rgba(155, 0, 0, 0.945);
        font-family: tahoma;  
        font-size: 10pt;
        animation: fade 2s;  
    }
    
    .bottomContainer{
        display:flex;
        margin:auto;
        width:30vw;
        position:fixed;
        margin-top: 40vh;
    }

    

.topSpace{
    height: 10vh;
    width:100%;
}

.topSpace2{
    height: 20vh;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.bbcDiv{
    background-color: rgb(255, 255, 250);
    
}


.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}


.containerH1{
    font-family: 'helvetica';
    font-size: 15pt;
    color: rgba(80, 77, 77, 0.918);
    margin-top: 3vh;
    margin-left: 2vw;
    margin-bottom: 0px;
    pointer-events: none;
}


.menu{
    display:flex;
    flex-direction: column;
    position: absolute;
}


button{
    width: 65pt;
    height: 18pt;
    background-color: rgb(0, 201, 0);
    font-size: 11pt;
    cursor: pointer;
    margin-top: 2.5pt; 
}


.delete{
    background-color: rgb(235, 0, 0);
    color: white;
    width: 52pt;
    height: 17pt;
    font-size: 10pt;
}


.readMore2{
    margin: 0px;
    color: rgb(0, 0, 126);
    font-size:11pt;
}


.deleteAll{
    background-color: rgb(192, 0, 0);
    color: rgba(255, 255, 255, 0.968);
    position: fixed;
    margin-left: 40vw;
    margin-top: 2vh;
    border: 1px solid rgb(157, 0, 0);
    border-radius: 2px;
    font-weight: 400;
    width: 65pt;
    height: 19pt;
    font-size: 10pt;
}



.databaseH1{
    text-align: center;
    margin-top:20vh;
    font-family: 'helvetica'
}


.loginForm,
.logIn,
.signUp{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    width:130pt;
    font-size: 20pt;
    font-family: helvetica;
}


.name{
    margin-top: 0.5vh;
    color: rgb(171, 0, 0);
    margin: auto;
    font-size: 12pt;
}


.name2{
    color: rgb(171, 0, 0);
    margin: auto;
}


h4{
    margin-bottom: 5%;
    color: rgba(180, 0, 0, 0.918);
    font-size: 14pt;
}


.login1{
    width: 105pt;
    height: 21pt;
    margin: 2pt;
    border-radius: 3px;
    font-size:9pt;
    background-color: rgba(255, 255, 255, 0.945);
    border: 2px solid rgba(68, 0, 0, 0.356);
    color: black;
    padding:2pt;
}


.loginButton{
    width:75pt;
    height: 20pt;
    background-color: rgb(73, 73, 73);
    color: rgb(243, 243, 243);
    font-size: 11pt;
    cursor: pointer;
    margin-top: 5pt;
    border: 0px;
}


.readMore{
    color: rgb(0, 0, 123);
    font-size: 11.5pt;
    font-weight: 500;
    cursor: pointer;
    margin: 0px;
}


.navbarWrap2{
    display:flex;
    flex-direction:column;
    padding: 1%;
    padding-top:0;
    height: 81vh;
    width: 30vh;
    position: fixed;
    background-color: rgba(255, 255, 255, 0.979);
    overflow: scroll;
    margin-top: 46vh;
    margin-left: 3%;
    border-left: 1px solid white;
    border-bottom: 1px solid rgb(235, 212, 212);
    animation: movein 1s, fade 2.8s;
}

   @keyframes fade {
       from{opacity: 0}
       to{opacity:1}
   }
    
   @keyframes movein {
    from{margin-left: -10%}
    to{ margin-left: 3%}
   }
 


.button2Wrap{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width:100%;
    height: auto;
}



p{
    font-size: 13pt;
    font-weight: bolder;
    text-decoration: none;
    color: rgb(155, 0, 0);
    cursor: pointer;
    margin-bottom:1.2vh;
    font-family: 'helvetica';
    font-weight: 700;
    padding:0.3vh;
    padding-left:5%;
}


.argentina{
    margin-top: 8.5vh
}


p:hover{
    color:white;
    background-color: rgb(161, 0, 0);
}


.topHead{
    position: fixed;
    background-color: rgb(161, 0, 0);
    color:rgb(255, 255, 255);
    padding: 7px;
    width: 27vh;
    height: auto;
    font-size: 13pt;
    pointer-events: none;
}



.topHead2{
    background-color:  rgb(161, 0, 0);
    color:rgb(240, 240, 240);
    padding: 3px;
    padding-top:6px;
    width: 20vh;
    height: 2em;
    font-size: 20px;
}


h2{
    margin-top:2pt;
    font-size:12.5pt;
}



@media only screen and (max-width: 1100px) {
    
    .navbarP{
        font-size: 9pt;
        margin-bottom: 0pt;
    }
    
    .newsDiv{
        width: 50vw;
        height: auto;
        margin: auto;
        padding:8px;
        border-top: 0;
        margin-bottom: 10%;
        margin-top: 10%;
        margin-right:27vw;
        font-size: 10pt;
       
    }
    
    img{
        height: 100%;
        width: 100%;
        margin:0px;
        margin-top:4pt;
    }

    .topHead,
    .topHead2{
        width: 20vw;
        font-size: 8pt;
    }

    .argentina{
        margin-top:15vh;
    }
    
    .navbarWrap2{
        width: 20vw;
        height: 80vh;
        margin-top:51vh;
        padding: 0px;
        border: 0px;
        margin-left:0px;
        animation: fadein 1s, fade 1.2s;
    }

    p{font-size: 8pt;}
    
    h1,
    h2,
    .readMore,
    .sourceName,
    .sourceName2,
    .sourceName3,
    .newsforme{
        font-size:9pt;
        margin: 0px;
    }
    .savedH2{
        font-size:9pt;
        margin:0px;
    }

    .sourceName{
        margin-top: 14pt;
        margin-left: 2vw;
        visibility:hidden;
    }
    
    
    .sourceName3{
        margin-top:40pt
    }
    
    .loginForm,
    .logIn,
    .signUp{
         width: auto;
        
    }

    .home{
        margin-left:5vw;
    }

    .loginButton{
        width: 60pt;
        font-size: 8pt;
        height: 17pt;
    }
    
    
    .login1{
        width:70pt;
        height: 18pt;
        font-size:7pt;
    }
 
     h4{
         font-size: 10pt;
     }
     
     .topP{
       visibility: hidden;
     }
 
     button{
         width:37pt;
         height: 12pt;
         font-size: 7pt;
     }

     .news4you{
         font-size: 10pt;
     }

    a{
         font-size:12pt;
         color: rgb(170, 0, 0);
         font-weight: 900;
     }

    .saveAll{
        width:45pt;
        height: 14pt;
        font-size:8pt;
        cursor: pointer;
        position:fixed;
        border-radius: 2px;
        background-color: rgba(0, 0, 0, 0);
        color: rgb(0, 179, 39);
        font-family: tahoma;  
        font-weight: bolder;
        animation: fade 2s;  
    }

    .deleteAccount{
        visibility: hidden;
    }

    .newsDiv2{
        width: 50vw;
        margin: 4vw;
        font-size: 12pt;
        padding:2pt;
    }

    .savedH1{
        font-size:10pt;
    }

    .containerH1{
        font-size: 7pt;
    }

    .readMore2{
        font-size: 8pt;
    }

    .delete{
         width: 40pt;
         height: 12pt;
         font-size: 7pt;
         display:flex;
         align-items: center;
         justify-content: center;
    }

    .name2{
        font-size:7pt;
    }
     
    .name{
         font-size: 8pt;
     }
    
    .sourceName2{
        margin-top: 20pt;
        font-size:10pt;
    }

    .deleteAll{
        width:50pt;
        height:15pt;
        font-size:7pt;
        margin-top: 15pt;
        margin-left: 31vw;
    }
    
    .container{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        margin: auto;
    }

    .rates{
        height:18pt;
    }

    .newsforme{
        margin-bottom: 20pt;
    }

    .dollar{
        font-size: 11pt;
        
    }

    .navbarP{
        width:80pt;
    }
    .navbar{
        height: 25pt;
    }

    .rates{
        margin-top:25pt;
    }
    
    .saveallDiv{
        width:0pt;
        height:0pt;

    }
    
    .saveallH1{
        visibility: hidden;
    }
}
