* {
    box-sizing: border-box;
    margin: 0;
    
}


.navbar {
    width: 100%;
    height: 32pt;
    padding-top:12pt;
    background-color: rgb(255, 255, 250);
    position: fixed;
    font-family: 'tahoma';
}


a{
    text-decoration: none;
    font-size: 14pt;
    color: rgb(198, 0, 0);
    margin: 3vw;
}


a:hover{
    color:rgb(255, 118, 118);
}


h1{
    margin-bottom:7px;
    color:rgba(174, 2, 2, 0.968);
}


img{
    width: 100%;
}



.sourceName{
    color:rgba(201, 0, 0, 0.913);
    font-family: helvetica;
    height: 5vh;
    padding-top: 5pt;
    font-size:16pt;
    margin-left: 2vw;
    background-color: rgba(255, 255, 255, 0);
}


.sourceName2{
    color: rgba(87, 87, 87, 0.824);
    font-family: helvetica;
    position: fixed;
    height: 5vh;
    padding-top: 5pt;
    font-size: 19pt;
    margin-left: 2vw;
    background-color: rgba(255, 255, 255, 0);
}


.sourceName3{
    color: rgba(87, 87, 87, 0.829);
    font-family: helvetica;
    position: fixed;
    height: 5vh;
    width:20vw;
    padding-top: 5pt;
    font-size: 15pt;
    margin-left: -1vw;
    background-color: rgba(255, 255, 255, 0);
}



.h1Wrapper{
    display: flex;
    flex-direction: column;
    height: auto;
    position: fixed;
}


h1{
    font-size: 16pt;
}


.savedH1{
    font-size: 15pt;
}


.newsforme{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 17pt;
    text-align: center;
    margin-top: -15%;
    margin-bottom: 5vh;
    color:rgba(73, 73, 73, 0.845);
    animation: fade 3s;
    width:25vw;
}


.newsDiv{
      border: 0px solid rgb(189, 50, 50);
      width: 450pt;
      padding:20px;
      height: auto;
      font-size: 12px;
      margin:auto;
      margin-left:30vw;
      margin-top: 2vh;
      margin-bottom: 10vh;
      background-color: white;
      font-family: 'helvetica';
      
}


.newsDiv2{
    width: 28vw;
    padding: 10px;
    font-size: 10px;
    margin: 2vw;
    background-color: white;
    font-family: 'helvetica';
   
}


.bottomWrap{
    display: flex;
    width: auto;
    height: auto;
    margin-top: 2pt;
}

.home{
    height:auto;
    width: auto;
    margin-right: 6vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(255, 255, 250);
    animation: move2 1.2s;
}


@keyframes move2{
    from{ margin-right: 100%}
    to{ margin-right: 6vw}
}



.homeWrap{
    margin-top: 20vh;
    width:28vw;
    height: 30vh;
    position: fixed;
}



.buttonWrap{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}


.topSpace{
    height: 10vh;
    width:100%;
}


.topSpace2{
    height: 20vh;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.bbcDiv{
    background-color: rgb(255, 255, 250);
}


.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
}


.containerH1{
    font-family: 'tahoma';
    font-size: 15pt;
    color: rgba(142, 142, 142, 0.925);
    margin-left:2vw;

}


.menu{
    display:flex;
    flex-direction: column;
    position: absolute;
}



button{
    width: 74pt;
    height: 19pt;
    background-color: rgb(0, 201, 0);
    font-size: 12pt;
    cursor: pointer;
    margin-top: 3pt; 
}



.delete{
    background-color: rgb(235, 0, 0);
    color: white;
    width: 60pt;
    height: 18pt;
    font-size: 10pt;
}


.readMore2{
    margin: 0px;
    color: rgb(0, 0, 126);
    font-size:12pt;
}



.saveAll{
    width: 75pt;
    height: 22pt;
    cursor: pointer;
    position:fixed;
    border-radius: 2px;
    margin-left: -5vw;
    margin-top: 9vh;
    background-color: rgba(0, 0, 0, 0);
    color: rgba(0, 140, 30, 0.945);
    font-family: tahoma;  
    animation: fade 2s;  
}



.deleteAll{
    background-color: rgb(192, 0, 0);
    color: rgba(255, 255, 255, 0.968);
    position: fixed;
    margin-left: 40vw;
    border: 2px solid rgb(157, 0, 0);
    border-radius: 4px;
    font-weight: 400;
    width: 75pt;
    height: 19pt;
    font-size: 11pt;
}



.deleteAccount{
    width: 8vw;
    height: 3.7vh;
    cursor: pointer;
    position:fixed;
    border-radius: 2px;
    margin-left: -5vw;
    margin-top: 85vh;
    background-color: rgba(0, 0, 0, 0);
    color: rgba(155, 0, 0, 0.945);
    font-family: tahoma;  
    font-size: 10pt;
    animation: fade 2s;  
}



.databaseH1{
    text-align: center;
    margin-top:20vh;
    font-family: 'helvetica'
}


.loginForm,
.logIn,
.signUp{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    width:130pt;
    font-size: 20pt;
    font-family: helvetica;
    
}


.name{
    margin-top: 0.5vh;
    color: rgb(171, 0, 0);
    margin: auto;
}


.name2{
    color: rgb(171, 0, 0);
    margin: auto;
}

h4{
    margin-bottom: 5%;
    color: rgba(180, 0, 0, 0.808);
    font-size: 16pt;
}


.login1{
    width: 115pt;
    height: 22pt;
    margin: 2pt;
    border-radius: 3px;
    font-size: 10pt;
    background-color: rgba(255, 255, 255, 0.945);
    border: 2px solid rgba(68, 0, 0, 0.356);
    color: black;
    padding:2pt;
}


.loginButton{
    width:80pt;
    height: 21pt;
    background-color: rgb(73, 73, 73);
    color: rgb(243, 243, 243);
    font-size: 12pt;
    cursor: pointer;
    margin-top: 5pt;
    border: 0px;
}



.readMore{
    color: rgb(0, 0, 123);
    font-size: 13pt;
    font-weight: 500;
    cursor: pointer;
    margin: 0px;
   
}


.navbarWrap2{
    display:flex;
    flex-direction:column;
    padding: 1%;
    padding-top:0;
    height: 81vh;
    width: 30vh;
    position: fixed;
    background-color: rgba(255, 255, 255, 0.979);
    overflow: scroll;
    margin-top: 47vh;
    margin-left: 3%;
    border-left: 1px solid white;
    border-bottom: 1px solid rgb(235, 212, 212);
    animation: movein 1s, fade 2.8s;

}

   @keyframes fade {
       from{opacity: 0}
       to{opacity:1}
   }
    
   @keyframes movein {
    from{margin-left: -10%}
    to{ margin-left: 3%}
   }
 


.button2Wrap{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width:100%;
    height: auto;
}



p{
    font-size: 2.3vh;
    font-weight: bolder;
    text-decoration: none;
    color: rgb(155, 0, 0);
    cursor: pointer;
    margin-bottom:1.2vh;
    font-family: 'helvetica';
    font-weight: 700;
    padding:0.3vh;
    padding-left:5%;
}


.argentina{
    margin-top: 8.5vh
}


p:hover{
    color:white;
    background-color: rgb(161, 0, 0);
}


.topHead{
    position: fixed;
    background-color:  rgba(184, 0, 0, 0.947);
    color:rgb(240, 240, 240);
    padding: 7px;
    width: 27vh;
    height: auto;
    font-size: 2.3vh;
}

.topHead:hover{
    
}

.topHead2{
    background-color:  rgb(161, 0, 0);
    color:rgb(240, 240, 240);
    padding: 3px;
    padding-top:6px;
    width: 20vh;
    height: 2em;
    font-size: 20px;
}


.topP{
    margin-top: 85vh;
    margin-left:-22vw;
    height: 25pt;
    width: 25pt;
    cursor:pointer;
    background-image: url('./Photos/top.png');
    background-size: cover;
    background-position: center;
    position: fixed;
}

h2{
    margin-top:2pt;
}